<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | absolute_url }}">
</head>
<body>

  <header>
    <div class="banner">
      <h1>
        <span class="terminal-symbol">&gt;_</span> {{ site.title }}
      </h1>
      <nav>
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/research/' | relative_url }}">Research</a></li>
          <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
          <li><a href="{{ '/about/' | relative_url }}">About me</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <main>
    {{ content }}
  </main>

  
  <footer>
    <p>Contact me on <a href="https://www.linkedin.com/in/matteo-vicari-mv989">LinkedIn</a> | <a href="mailto:matt.videars@gmail.com">matt.videars@gmail.com</a></p>
  </footer>
</body>
</html>
